html,
body{
    height: 100%;
}
#root{
    height: 100%;
}

.no-text-decoration,
.no-text-decoration a,
.no-text-decoration a:link,
.no-text-decoration a:visited,
.no-text-decoration a:hover,
.no-text-decoration a:active{
    text-decoration: none !important;
    color: black;
    margin-bottom: 0;
}


.toggler{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}


.bg-yellow{
    background: yellow;
}

.bg-soft-yellow{
    background: rgb(242, 208, 114);
}

.bg-grey{
    background: rgb(45, 46, 48);
}


.cart {
    width: 32px;
    height: 32px;


}

.cart-image {
    height: 32px;
    width: 32px;
    padding-right: 4px;
}

.cart-image img {
    height: inherit;
}


.cart-counter-wrapper{
    position: relative;
    font-size: 13px;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    bottom: 30px;
    left: 20px;
    padding: 0;
}